body {
  margin: 0px; }

rect.filler {
  fill: transparent; }

g.node rect {
  fill: #c8c8c8;
  stroke: #1e1e1e; }
g.node text {
  text-anchor: middle;
  font-family: sans-serif;
  cursor: default;
  font-size: 11px;
  fill: #1e1e1e; }

g.node.fixed rect {
  fill: #c86432;
  stroke: #1e0a02; }

g.node.hovered rect {
  fill: #ffc800;
  stroke: #1e1e1e; }

g.node.selected rect {
  fill: #ff6400;
  stroke: #1e1e1e; }

g.setNode text {
  text-anchor: middle;
  font-family: sans-serif;
  cursor: default;
  font-size: 11px;
  fill: #1e1e1e; }
g.setNode ellipse {
  fill: #c8c8c8;
  stroke: #1e1e1e; }

g.setNode.hovered ellipse {
  fill: #ffc800; }

g.setNode.selected ellipse {
  fill: #ff6400; }

g.edge line {
  stroke: #505050;
  stroke-width: 2px; }

g.set text {
  text-anchor: left;
  font-family: sans-serif;
  cursor: default;
  font-size: 10px;
  fill: #1e1e1e; }
g.set line {
  stroke: #969696;
  stroke-width: 2px; }

g.set.hovered text {
  fill: #ffc800; }
g.set.hovered line {
  stroke: #ffc800;
  stroke-width: 2px; }
g.set.hovered rect.filler {
  fill: rgba(255, 200, 0, 0.2); }

g.set.selected text {
  fill: #ff6400; }
g.set.selected line {
  stroke: #ff6400;
  stroke-width: 2px; }
g.set.selected rect.filler {
  fill: rgba(255, 100, 0, 0.2); }

.collapseIcon {
  font-family: FontAwesome;
  font-size: 16px;
  cursor: pointer;
  text-anchor: middle; }

#arrowRight {
  stroke: #505050;
  fill: #505050; }

#listView {
  padding: 5px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  float: left;
  width: 50vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.outer {
  -webkit-flex: 1;
  flex: 1;
  height: 100%;
  overflow: auto; }

#pathlist, #setlist {
  display: block;
  width: 100%;
  height: 100%; }

#pathgraph {
  float: right;
  width: 40vw;
  height: auto;
  overflow: auto; }
