body {
  margin: 0px;
}

text {
  text-anchor: left;
  font-family: sans-serif;
  cursor: default;
  font-size: 10px;
  //    fill: rgb(30, 30, 30);
}

rect.filler {
  fill: rgba(0, 0, 0, 0)

}

//input.queryConstraint {
//  line-height: 5px;
//}

#pathlist g.node {

  text {
    text-anchor: middle;
  }

}

g.node {
  rect {
    fill: rgb(200, 200, 200);
    stroke: rgb(30, 30, 30);
  }

  text {
    font-family: sans-serif;
    cursor: default;
    font-size: 11px;
    fill: rgb(30, 30, 30);
  }

}



g.listItem {
  rect {
    fill: rgb(255, 255, 255);
    stroke: rgb(255, 255, 255);
  }

  text {
    font-family: sans-serif;
    cursor: default;
    font-size: 12px;
    fill: rgb(30, 30, 30);
  }

}

//g.node.fixed {
//  rect {
//    fill: rgb(200, 100, 50);
//    stroke: rgb(30, 10, 2);
//  }
//}

g.node.hovered {
  rect {
    fill: rgb(255, 200, 0);
    stroke: rgb(30, 30, 30);
  }
}

g.node.path_hovered {
  rect {
    stroke: rgb(255, 200, 0);
    stroke-width: 3px;
  }
}

g.node.selected {
  rect {
    fill: rgb(255, 100, 0);
    stroke: rgb(30, 30, 30);
  }
}

g.node.path_selected {
  rect {
    stroke: rgb(255, 100, 0);
    stroke-width: 3px;
  }
}

g.comboNode {
  text {
    text-anchor: middle;
    font-family: sans-serif;
    cursor: default;
    font-size: 11px;
    fill: rgb(30, 30, 30);
  }

  ellipse {
    //    fill: rgb(200, 200, 200);
    //    stroke: rgb(30, 30, 30);
  }
}

.comboNode.hovered {
  ellipse {
    fill: rgb(255, 200, 0);
  }
}

.comboNode.selected {
  ellipse {
    fill: rgb(255, 100, 0);
  }
}

rect.nodeType.hovered {
  fill: rgb(255, 200, 0);
}

rect.nodeType.selected {
  fill: rgb(255, 100, 0);
}

g.setNode {
  text {
    text-anchor: middle;
    font-family: sans-serif;
    cursor: default;
    font-size: 11px;
    fill: rgb(30, 30, 30);
  }

  ellipse {
    fill: rgb(200, 200, 200);
    stroke: rgb(30, 30, 30);
  }
}

g.setNode.hovered {
  ellipse {
    fill: rgb(255, 200, 0);
  }
}

g.setNode.selected {
  ellipse {
    fill: rgb(255, 100, 0);
  }
}

g.edge {
  line {
    stroke: rgb(80, 80, 80);
    stroke-width: 2px;
  }
}

g.edge.path_hovered {
  line {
    stroke: rgb(255, 200, 0);
    stroke-width: 3px;
  }
}

g.edge.path_selected {
  line {
    stroke: rgb(255, 100, 0);
    stroke-width: 3px;
  }
}

g.nodeTypeStats {

  text {
    text-anchor: left;
    font-family: sans-serif;
    cursor: default;
    font-size: 10px;
    //    fill: rgb(30, 30, 30);
  }

  text.collapseIconSmall {
    font-family: FontAwesome;
    font-size: 10px;
    cursor: pointer;
    text-anchor: middle;
  }
}

g.statTypes {

  text {
    text-anchor: left;
    font-family: sans-serif;
    cursor: default;
    font-size: 10px;
    //    fill: rgb(30, 30, 30);
  }

  text.collapseIconSmall {
    font-family: FontAwesome;
    font-size: 10px;
    cursor: pointer;
    text-anchor: middle;
  }
}

g.set, g.setType {
  text {
    text-anchor: left;
    font-family: sans-serif;
    cursor: default;
    font-size: 10px;
    //    fill: rgb(30, 30, 30);
  }

  text.collapseIconSmall {
    font-family: FontAwesome;
    font-size: 10px;
    cursor: pointer;
    text-anchor: middle;
  }

  line {
    //    stroke: rgb(150,150,150);
//    stroke-width: 1px;
  }
}

g.overlayButton {
  text {
    font-family: FontAwesome;
    font-size: 16px;
    cursor: pointer;
    text-anchor: middle;
  }

  rect {
    fill: rgb(255, 255, 255);
    stroke: rgb(30, 30, 30);
    stroke-width: 1px;

  }
}

g.overlayButton.smallButton {
  text {
    font-size: 10px;
  }
}

g.stats.hovered {
  rect.filler {
    fill: rgba(255, 200, 0, 0.2)
  }
}

g.stats.selected {
  rect.filler {
    fill: rgba(255, 100, 0, 0.2)
  }
}

g.path.hovered {
  rect.filler {
    fill: rgba(255, 200, 0, 0.2)
  }
}

g.path.selected {
  rect.filler {
    fill: rgba(255, 100, 0, 0.2)
  }
}

g.set.hovered {
  text {
    fill: rgb(255, 200, 0);
  }

  line {
    stroke: rgb(255, 200, 0);
//    stroke-width: 2px;
  }

  rect.filler {
    fill: rgba(255, 200, 0, 0.2)
  }

  circle {
    fill: rgb(255, 200, 0);
  }
}

g.set.selected {
  text {
    fill: rgb(255, 100, 0);
  }

  line {
    stroke: rgb(255, 100, 0);
//    stroke-width: 2px;
  }

  rect.filler {
    fill: rgba(255, 100, 0, 0.2)
  }

  circle {
    fill: rgb(255, 100, 0);
  }
}

.edgePath path {
  stroke: rgb(80, 80, 80);
  fill: rgb(80, 80, 80);
//  fill: rgb(200, 200, 200);
  stroke-width: 1.5px;
}
.edgePath path.filtered{
  stroke: rgb(200, 200, 200);
  fill: rgb(200, 200, 200);
  stroke-width: 1.5px;
}

.collapseIcon {
  font-family: FontAwesome;
  font-size: 16px;
  cursor: pointer;
  text-anchor: middle;
}

#arrowRight {
  stroke: rgb(80, 80, 80);
  fill: rgb(80, 80, 80);
}

g.listItem.hovered {
  rect {
    fill: rgb(150, 200, 255);
    stroke: rgb(255, 255, 255);
  }

}

#listView {
  padding: 5px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  //  float: right;

  width: 100%;
  height: 100vh;
  //  -webkit-box-sizing: border-box;
  //  -moz-box-sizing: border-box;
  //  box-sizing: border-box;
}

.outer {

  -webkit-flex: 1;
  flex: 1;

  //  width: 45vw;
  height: 100%;
  overflow: auto;
}


#leftCol {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  float: left;
//  display: inline-block;
  width: 49%;
  height: 100vh;
//  overflow: auto;
  vertical-align: top;
}

#rightCol {

  display: inline-block;
  width: 50%;
  height: 100vh;
  overflow: auto;
  vertical-align: top;
  float: right;
}

#overviewRow {
//  overflow: auto;
  display:flex;

  -webkit-flex: 1;
  flex: 1;
}

header {
  padding: 5px;
}

#pathlist, #pathgraph, #pathstats, #pathQuery {
  display: block;
  width: 100%;
  height: 100%;
}


#pathGraphView {
//  padding: 5px;
  display: inline-block;
  width: 74%;
//  height: 500px;
  overflow: auto;
  vertical-align: top;
}

#pathQueryView {
  display: inline-block;
  width: 100%;
  height: 120px;
  overflow: auto;
  vertical-align: top;
}

#query_interface {
  padding: 5px;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

#pathStatsView {
  padding: 5px;
  display: inline-block;
  width: 25%;
//  height: 100%;
  overflow: auto;
  vertical-align: top;
  //  display: block;
  //  width: 100%;
  //  height: 100%;
}
